@* @model Web.Application.Pernos.Models.ConfirmacionPagoViewModel *@

@{
    ViewData["Title"] = "Confirmación de Pago";
}

<h1>Confirmación de Pago</h1>

<p>Gracias por tu compra. Tu pago ha sido procesado exitosamente.</p>

<p><a href="@Url.Action("Catalogo", "Producto")">Volver al Catalogo</a></p>
