@{
    ViewData["Title"] = "Nosotros";
}

<div class="container mt-5">
    <h2>@ViewData["Title"]</h2>
    <div class="row mt-4">
        <div class="col-md-4">
            <img src="~/images/PernosTotales_Banner.webp" class="img-fluid rounded" alt="Pernos Totales">
        </div>
        <div class="col-md-8">
            <h3>Historia de la Empresa</h3>
            <p>
                La empresa se formó a raíz de que el dueño de la empresa anteriormente trabajaba en un fundo en el área de mantenimiento para las maquinas industriales, debido a esto decidió abrir su propio negocio de reparación y fabricación de repuestos para maquinas en el sector industrial. La empresa Pernos Totales S.A.C. se dedica al mantenimiento y fabricación de máquinas que aportan a la industria, la empresa utilizaba muchas piezas o repuestos de maquinarias industriales, todo sobre la reparación y fabricación de las máquinas. Luego se dio la creación de la tienda Pernos Totales S.A.C.  la cual beneficiaria en el ámbito comercial y a su misma vez retroalimentaría a la misma empresa automatizando el stock de uso propio de herramientas. La cual está aportando al crecimiento de la empresa dia a dia en el ámbito comercial al cual se le está implementando las nuevas tecnologías para el crecimiento de sus ventas y público en general.
            </p>
            <h3>Misión</h3>
            <p>
                La misión de la empresa Pernos Totales S.A.C. es brindar la más alta calidad de servicios de reparación y fabricación de repuestos para las maquinas en el sector industrial.
            </p>
            <h3>Visión</h3>
            <p>
                La visión de la empresa Pernos Totales S.A.C. es ser una empresa líder y ser reconocidos como la mejor empresa en la reparación y fabricación de repuestos.
            </p>
        </div>
    </div>
</div>
